<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=True;" name="ServerConnString"></add>
		<add connectionString="Server=localhost\SQLEXPRESS;Database=GitFlow;Trusted_Connection=True;" name="AppConnString"></add>
	</connectionStrings>
</configuration>